/* @import url('https://fonts.cdnfonts.com/css/tahoma'); */


:root {
    --bg-primary: #b4aca0;
    --bg-primary-hover: #b4aca0;
    --bg-light: rgb(235, 232, 228);
    --inset-light: #ffffff;
    --inset-dark: #464646;

    --text-select: #dddddd;
}


@font-face {
    font-family: 'Tahoma XP';
    src: url('/assets/windows-xp-tahoma.woff') format('woff'), 'Chrome 6+', 'Firefox 3.6+', 'IE 9+', 'Safari 5.1+'
         url('/assets/windows-xp-tahoma.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    /* background-color: var(--bg-primary); */
    background-color: rgb(100, 144, 211);
    margin: 0px;
    padding: 4px;
    /* border: 4px; */

    font-family: 'Tahoma XP', sans-serif;
    font-size: 24px;
    /* font-weight: 100; */
    /* font-stretch: 100px; */
    /* font-kerning: 100px; */
    letter-spacing: 0.5px;
    user-select: none;
}

.window {
    margin: 10px;
    padding: 6px;
    box-shadow: inset var(--inset-light) 2px 2px 2px, inset var(--inset-dark) -2px -2px 2px;
    background-color: var(--bg-primary);
}

.navbar {
    background-color: var(--bg-primary);
    /* border-color: var(--bg-primary); */
    padding: 0px;
    margin: 0px;
}
.navbar .title {
    color: white;
    background-image: linear-gradient(to right, #180A6C, #9ABCE4);
    padding: 4px 6px;
    margin: 0px;
}
.navbar .menu-items {
    background-color: var(--bg-primary);
    display: inline-grid;
    grid-template-columns: 60px 60px 60px 60px;
    
}
.navbar .menu-items .item {
    /* border-style: dashed;
    border-width: 1px; */
    text-align: center;
    padding: 4px;
}
h1 {
    padding:0;
    margin:0;
}

/* .titlebar-wincontrols {
    display: inline-block;
    margin: 0px;
    padding: 1px;
    min-width: fit-content;
    text-align: start;
} */

/* .buttons-wrapper {
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 1px;

    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-align: start;
} */
navbar ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    overflow: hidden;
}
navbar li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    float: left;
    padding: 0px;
    margin: 0px;
}
.button {
    background-color: var(--bg-primary);
    color: black;

    margin: 1px;
    padding-top: 2px;

    display: inline-block;
    min-width: 12px;
    min-height: 10px;
    width: 17px;
    height: 14px;
    text-align: center;
    vertical-align: bottom;
    line-height: 10px;
    
    box-shadow: inset var(--inset-light) 1px 1px 2px, inset var(--inset-dark) -1px -1px 2px;
}
/* .button:active:hover { */
.button:active {
    /* background-color: #180A6C; */
    box-shadow: inset var(--inset-dark) 1px 1px 2px, inset var(--inset-light) -1px -1px 2px;
    /* padding-left: 24x; */
    /* transform: translateX(1px); */
}
.button:active > svg {
    transform: translateX(1px);
}





.dropdown-btn {
    /* cursor: pointer; */
    background: none;
    color: black;
    border: none;
    font-family: 'Tahoma XP', sans-serif;
    font-size: 24px;
    padding: 5px 18px;
}
.dropdown-btn:hover, .dropdown-btn:focus {
    box-shadow: inset var(--inset-light) 1.5px 1.5px 0px, inset var(--inset-dark) -1.5px -1.5px 0px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px;
    /* border: 1px; */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-primary);
    min-width: 160px;
    z-index: 1;
    box-shadow: inset var(--inset-light) 1px 1px 2px, inset var(--inset-dark) -1px -1px 2px;
    
}
.dropdown-content a {
    padding: 5px 12px;
    text-decoration: none;
    color: black;
    display: block;
}
.dropdown-content a:hover {
    background-color: #180A6C;
    color: white;
}

.show {
    display: block !important; 
}


h1, h2, h3 {
    padding: 0px;
    margin: 0px;
}


main {
    background-color: var(--bg-primary);
    height: 83vh;
    /* padding: 2px 4px; */
    /* padding: 0px; */

    display: grid;
    /* grid-template-areas: 
        'menu main main main'
        'menu main main main'; */
    /* grid-template-areas: 'menu main main main main main main'; */
    grid-template-columns: 1fr 2fr;
    margin: 0px 5px;
}


.inline-img {
    display: inline;
    margin: 0 0.125em;
    padding: 0;
    vertical-align: baseline;

    /* height: 16px; */
}

.menu {
    /* grid-area: menu; */
    cursor: default;
    background-color: var(--bg-primary);
    padding: 0px;
    margin: 0px;
    /* box-shadow: inset var(--inset-light) 1px 1px 1px, inset var(--inset-dark) -1px -1px 1px; */
}
.menu .window {
    background-color: white;
    /* box-shadow: inset var(--inset-dark) 1px 1px 1px, var(--bg-primary) 1px 1px, var(--inset-light) 2px 2px; */
    box-shadow: inset var(--inset-dark) 1px 1px 1px, inset var(--inset-light) -1px -1px 1px;
    margin: 4px;
    padding: 0px 4px;
    height: 90%;
    
}
.menu .window div {
    margin: 2px;
}
.menu .window a {
    /* background-color: #dddddd; */
    padding: 2px;
}
.menu .window .btn {
    font-family: inherit;
    font-size: inherit;
    border: none;
    padding: 2px;
    background-color: white;
    /* background-color: #180A6C; */
    cursor: pointer;
}
.menu .window .btn.active {
    background-color: #dddddd;
    /* background-color: red; */
}


.main {
    /* grid-area: main; */
    cursor: default;
    background-color: var(--bg-primary);
    padding: 0px;
    margin: 0px;
    /* box-shadow: inset var(--inset-light) 1px 1px 1px, inset var(--inset-dark) -1px -1px 1px; */
    overflow: hidden;
}
.main .window {
    background-color: white;
    box-shadow: inset var(--inset-dark) 1px 1px 1px, inset var(--inset-light) -1px -1px 1px;
    margin: 4px;
    padding: 0px 8px;
    height: 90%;
    /* font-family: 'Times New Roman', 'Times', 'serif'; */
    overflow-y: scroll;
    /* overflow: hidden; */
}


.page {
    display: none;
}


footer {
    margin: 4px 14px 4px 2px;
    /* padding: 1px 6px 3px; */
    /* box-shadow: inset var(--inset-dark) 1px 1px, inset var(--inset-light) -1px -1px; */
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* overflow: inherit; */
    /* grid-template-columns: 60px 60px 60px 60px; */
}
.indent {
    padding: 1px 4px 4px;
    margin: 2px;
    box-shadow: inset var(--inset-dark) 1px 1px, inset var(--inset-light) -1px -1px;
}

div {
    /* border-style: dashed;
    border-width: 1px; */
}


/* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-light);
    /* box-shadow: inset var(--inset-dark) 1px 1px, inset var(--inset-light) -1px -1px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-primary);
    box-shadow: inset var(--inset-light) 2px 2px 2px, inset var(--inset-dark) -2px -2px 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
  }